.form-login-wrapper {
    text-align: center;
}

.form-login {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    background-color: #a5deda;
    box-shadow: 4px 6px 13px -5px #959595;
}

.form-login input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.form-login input[type='submit'] {
    width: 100px;
}

.title-form-login {
    color: blue;
}

#checkbox-wrapper {
    display: flex;
    width: 100%;
}

.form-login input[type=checkbox] {
    width: auto;
}

.input-error {
    display: none;
    justify-content: left;
    color: red;
}