.alert {
    height: 100vh;
    position: relative;
    text-align: center;
}

.alert-page-error {
    position: absolute;
    top: 50%;
    left: calc(50% - 530px /2);
    font-size: 50px;
    color: red;
}