* {
    box-sizing: border-box;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.alert-success,
.alert-error {
    position: absolute;
    top: 0;
    left: 42%;
    width: 300px;
    height: 51px;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}

.alert-success {
    background-color: #e4f8c6;
    color: rgb(0 137 35);
}

.alert-error {
    background-color: #f8bfc7;
    color: red;
}